*{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 24px;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;
}

a{
	text-decoration: none;
}

a:hover{
	text-decoration: none;
}
.green{
	width: 600px;
	height: 300px;
	background: green;
	margin:250px auto;
	position: relative;

}

.red{
	width: 150px;
	height: 150px;
	background: red;
	border-radius: 100%;
	position: absolute;
	top: 25%;
	left: 36%;
}

.social-icons{
	width: 100%;
	text-align: center;
	padding: 50px 0px;
}

.social-icons li{
	list-style: none;
	display: inline-block;
}

.social-icons li a{
	display: block;
	text-align: center;
	font-size: 32px;
	margin: 0px 5px;
}

.social-icons li a .fa-facebook{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: #fff;
    background: #0A7FEC;
    border: 2px solid #0A7FEC;
    cursor: pointer;
}

.social-icons li a .fa-facebook:hover {
	color: #0A7FEC;
  	background : transparent;
  	border: 2px solid #0A7FEC;
}

.social-icons li a .fa-youtube{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: #fff;
    background: #FF0000 ;
    border: 2px solid #FF0000 ;
    cursor: pointer;
}

.social-icons li a .fa-youtube:hover{
	color:  #FF0000;
    background:transparent ;
    border: 2px solid #FF0000 ;
}

.social-icons li a .fa-instagram{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: #fff;
    background: #D93768 ;
    border: 2px solid #D93768  ;
    cursor: pointer;
}

.social-icons li a .fa-instagram:hover{
	color: #D93768 ;
    background:transparent ;
    border: 2px solid #D93768 ;

 } 


 .social-icons li a .fa-twitter{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: #fff;
    background: #1DA1F2 ;
    border: 2px solid #1DA1F2  ;
    cursor: pointer;
}

.social-icons li a .fa-twitter:hover{
	color: #1DA1F2 ;
    background:transparent ;
    border: 2px solid #1DA1F2 ;
}   



.social-icons li a .fa-telegram{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: #fff;
    background: #27A6E6 ;
    border: 2px solid #27A6E6  ;
    cursor: pointer;
}

.social-icons li a .fa-telegram:hover{
	color: #27A6E6 ;
    background:transparent ;
    border: 2px solid #27A6E6 ;
}   

.social-icons li a .fa-whatsapp{
    width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: #fff;
    background: #4AE565 ;
    border: 2px solid #4AE565   ;
    cursor: pointer;
}

.social-icons li a .fa-whatsapp:hover{
	color: #4AE565 ;
    background:transparent ;
    border: 2px solid #4AE565 ;

 }


  .social-icons li a .fa-google-plus{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: #fff;
    background: #C94539 ;
    border: 2px solid #C94539  ;
    cursor: pointer;
}

.social-icons li a .fa-google-plus:hover{
	color: #C94539 ;
    background:transparent ;
    border: 2px solid #C94539 ;
}  

.social-icons li a .fa-twitter-square{
	width: 50px;
	height: 50px;
	line-height: 50px;
	border-radius: 100%;
	color: #fff;
    background: #5B8CCB ;
    border: 2px solid #5B8CCB  ;
    cursor: pointer;
}

.social-icons li a .fa-twitter-square:hover{
	color: #5B8CCB ;
    background:transparent ;
    border: 2px solid #5B8CCB ;
}   


.fb-share{
	width: 150px ;
	height: 50px;
	position: fixed;
	right: -100px;
	top: 200px;
	transition: 1s;
	
}

.fb-share:hover{
	right: 2px;
	cursor: pointer;
}

.instagram-follow{
	width: 150px;
	height: 50px;
	position: fixed;
	right: -100px;
	top: 300px;
	transition: 1s;
}



.instagram-follow:hover{
	right: 2px;
	cursor: pointer;
}

.twitter-share{
	width: 150px;
	height: 50px;
	position: fixed;
	right: -100px;
	top: 400px;
	transition: 1s;
}

.twitter-share:hover{
	right: 2px;
	cursor: pointer;

}

.youtube-subcribe{
	width: 150px;
	height: 50px;
	position: fixed;
	right: -100px;
	top: 500px;
	transition: 1s;
}

.youtube-subcribe:hover{
	right: 2px;
	cursor: pointer;
}

.linkedin-follow{
	width: 150px;
	height: 50px;
	position: fixed;
	right: -100px;
	top: 600px;
	transition: 1s;
}

.linkedin-follow:hover{
	right: 2px;
	cursor: pointer;
}